
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: #00698f;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  img {
    width: 25%;
    height: auto;
    margin: 10px 0;
  }
  
  button {
    background-color: #00698f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0088cc;
  }
  
  /* Header Styles */
  
  header {
    background-color: #00698f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: #ccc;
  }
  
  #about img {
    display: block;
    margin: 0 auto;
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    margin-top: 0;
  }
  
  /* Destinations Styles */
  
  .destinations ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .destinations li {
    margin-bottom: 20px;
  }
  
  .destinations img {
    width: 50%;
    height: auto;
    margin: 10px 0;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #00698f;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }